<ul id="posts">
<% @posts.each do |post| %>
  <li><h2 class="inline"><%= link_to post.title, article_path(post.url)  %> <span class="hint"><%= post.post_date %></span></h2>
    <div class="tags"><%= post.tag_array.map { |tag| content_tag(:a, tag,
            class: 'tag', href: "/tag/#{tag}") }
        .join(', ').html_safe %>
        </div>
    </li>
<% end %>
<p><%= will_paginate @posts, next_label: '→', previous_label: '←', :renderer => BootstrapPagination::Rails %></p>
</ul>