/*
 *= require markitup
 *= require markitup-markdown
 */

@import "_variables";


#posts {
  h2.inline {
    display: inline;
  }

  .hint {
    font-size: xx-small;
    font-weight: normal;
  }

  .tags {
    clear: both;
    margin-top: -10px;
    a {
      color: $tag_color;
      &:hover {
        color: $link_color;
      }
    }
  }
}


textarea#post_content {
  width: 100% !important;
}