%header
  = nav_bar brand: "Zagirov" do
    - menu_group do
      = menu_item t(:home), root_path
      - if current_user
        = drop_down_header current_user.name
        = menu_item t(:logout), logout_path, method: :delete