= stylesheet_link_tag 'application', :media => 'all'
- if request.fullpath[0..6] == '/admin/'
  = stylesheet_link_tag 'admin', :media => 'all'
- else
  = stylesheet_link_tag controller.controller_name, :media => 'all'